body {
    font-family: 'Space Mono', monospace;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
  }
  
  h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
    background-color: black;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  }

  .match {
    background-color: white;
    color: red;
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  }
  
  h1:hover {
    background-color: white;
    color: black;
  }

  /* For tablets (width up to 768px) */
@media (max-width: 768px) {
    body {
      font-size: 16px;  /* Adjust text size */
    }
  }
  
  /* For mobile devices (width up to 480px) */
  @media (max-width: 480px) {
    body {
      font-size: 14px;  /* Adjust text size further */
    }
  
    h1 {
      font-size: 24px;  /* Adjust heading size for mobile */
    }
  }
  
  

