body {
    font-family: 'Space Mono', monospace;
    height: 100vh;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0 2rem;
    overflow: hidden;
  }
  
  
  h1, h2, h3 {
    font-family: 'Space Mono', monospace;
    color: white;
    background-color: black;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0;             /* Remove any default margins */
    padding: 0;            /* Remove any default padding */
    line-height: 1.1;      /* Adjust line-height to reduce vertical space */
  }
  
  h1 {
    
    font-size: clamp(3rem, 10vw, 10rem);
    text-align: center;
  }

  h2 {
    font-size: clamp(1rem, 5vw, 5rem);
    text-align: left;
    position: left;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: clamp(0.25rem, 2.5vw, 2.5rem);
    text-align: left;
    position: left;
    margin-bottom: 0.25rem;
  }
  

  .match {
    background-color: white;
    color: rgb(255, 80, 80);
 
  }
  
  h1:hover {
    background-color: white;
    color: black;
  }

  /* For tablets (width up to 768px) */
@media (max-width: 768px) {
    body {
      font-size: 16px;  /* Adjust text size */
    }
  }
  
  /* For mobile devices (width up to 480px) */
  @media (max-width: 480px) {
    body {
      font-size: 14px;  /* Adjust text size further */
    }
  
    h1 {
      font-size: 24px;  /* Adjust heading size for mobile */
    }
  }
  
  

